<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	
	<title>Suma</title>
	
</head>
<body>
	<div>
		<h1>Calculadora Suma</h1>
		
        <form method="post">
            <label> Ingrese el primer número </label> 
            <input type="number"  name="numero1"></input>

            <label> Ingrese el segundo número </label> 
            <input type="number"  name="numero2"></input>

            <button type="submit"> Calcular Suma </button>
        </form>
	</div>
    <p>El resultado de la suma es: {{ resultado }}</p>
</body>
 <li><a href="/">Volver al Inicio</a></li>
</html>
